@import './messageItem.scss';
@import './postThoughts.scss';
@import './allMessages.scss';
@import './filterOptions.scss';
@import './loading.scss';
@import './var_mixin.scss';

* {
  box-sizing: border-box;
  font-family: 'Cutive Mono', monospace;
  font-size: 16px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  justify-content: center;
}

main {
  @include display(unset, center, column);
  @include size(100vh, 100vw);
  padding: 10px;

  @media (min-width: 500px) {
    width: 370px;
  }
}

p {
  color: #6e6a6a;
  margin: 0;
}