@import './var_mixin.scss';

.my-thought {
  @include box-shadow;
  @include size(fit-content, 98%);
  @include display(space-between, unset, column);
  background-color: $primary-color;
  margin-bottom: 20px;
  padding: 10px;
}

.my-thought textarea {
  @include size(60px, 100%);
  resize: none;
  margin-top: 10px;
}

.show-input-length {
  margin-bottom: 5px;
  
  p {
    font-size: 14px;
  }
}

form {
  @include display(unset, unset, column);  
}

.send-button {
  margin-top: 10px;
  align-self: center;
  justify-self: center;
  height: 35px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}